<mat-card>
  <mat-card-title>Seat ID: {{ getCountyName() }}</mat-card-title>
  <mat-card-content>
    <p>Full Name: {{ getFullName(getCountyName()) }}</p>
    <p>Party: {{ getParty(getCountyName()) }}</p>
    <p>Race Rating ID: {{ getRaceRatingID(getCountyName()) }}</p>
    <p>Rating Phrase: {{ getRatingPhrase(getCountyName()) }}</p>
    <p>Race Rating Segment: {{ getRaceRatingSegment(getCountyName()) }}</p>
    <p>Open Seat: {{ getOpenSeat(getCountyName()) }}</p>
    <p>Turnover: {{ getTurnover(getCountyName()) }}</p>
    <p>Trump Margin: {{ getTrumpMargin(getCountyName()) }}</p>
  </mat-card-content>
  <button
    mat-raised-button
    color="basic"
    [routerLink]="['']">
    Select New Seat
  </button>
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/compare', getCountyName()]">
    Compare Seat
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="onClickMusic()">
    {{getState()}} Music!
  </button>
</mat-card>
