<button
  mat-raised-button
  color="primary"
  class="new-state-select"
  [routerLink]="['/']"
>
  Select New Seat
</button>
<div class="cards">
  <mat-card>
    <mat-card-title>Seat ID: {{ getFirstCountyName() }}</mat-card-title>
    <mat-card-content>
      <p>Full Name: {{ getFullName(getFirstCountyName()) }}</p>
      <p>Party: {{ getParty(getFirstCountyName()) }}</p>
      <p>Race Rating ID: {{ getRaceRatingID(getFirstCountyName()) }}</p>
      <p>Rating Phrase: {{ getRatingPhrase(getFirstCountyName()) }}</p>
      <p>Race Rating Segment: {{ getRaceRatingSegment(getFirstCountyName()) }}</p>
      <p>Open Seat: {{ getOpenSeat(getFirstCountyName()) }}</p>
      <p>Turnover: {{ getTurnover(getFirstCountyName()) }}</p>
      <p>Trump Margin: {{ getTrumpMargin(getFirstCountyName()) }}</p>
    </mat-card-content>
    <button
      mat-raised-button
      color="accent"
      (click)="onClickMusic(getRevStatesHash()[getState(getFirstCountyName())])"
    >
      {{ getRevStatesHash()[getState(getFirstCountyName())] }} Music!
    </button>
  </mat-card>
  <mat-card>
    <mat-card-title>Seat ID: {{ getSecondCountyName() }}</mat-card-title>
    <mat-card-content>
      <p>Full Name: {{ getFullName(getSecondCountyName()) }}</p>
      <p>Party: {{ getParty(getSecondCountyName()) }}</p>
      <p>Race Rating ID: {{ getRaceRatingID(getSecondCountyName()) }}</p>
      <p>Rating Phrase: {{ getRatingPhrase(getSecondCountyName()) }}</p>
      <p>Race Rating Segment: {{ getRaceRatingSegment(getSecondCountyName()) }}</p>
      <p>Open Seat: {{ getOpenSeat(getSecondCountyName()) }}</p>
      <p>Turnover: {{ getTurnover(getSecondCountyName()) }}</p>
      <p>Trump Margin: {{ getTrumpMargin(getSecondCountyName()) }}</p>
    </mat-card-content>
    <button
      mat-raised-button
      color="accent"
      (click)="onClickMusic(getRevStatesHash()[getState(getSecondCountyName())])"
    >
      {{ getRevStatesHash()[getState(getSecondCountyName())] }} Music!
    </button>
  </mat-card>
</div>
